<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Elan.SharePoint.LRFApproval.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Elan.SharePoint.LRFApproval.Properties.Settings>
            <setting name="ListTitleExecutiveApprovers" serializeAs="String">
                <value>Executive Approvers</value>
            </setting>
            <setting name="ListTitleFinancialAssignment" serializeAs="String">
                <value>Financial Assignment</value>
            </setting> 
            <setting name="UserprofileFieldBand" serializeAs="String">
                <value>OrgBand</value>
            </setting>
            <setting name="UserProfileFieldAuthAmount" serializeAs="String">
                <value>AuthAppAmt</value>
            </setting>
            <setting name="FieldLRFFormApprovers" serializeAs="String">
                <value>Approvers</value>
            </setting>
            <setting name="VPOfFinanceTitle" serializeAs="String">
                <value>VP Finance</value>
            </setting>

            <setting name="ListTitleLRF" serializeAs="String">
                <value>Legal Request Forms</value>
            </setting>
            <setting name="FieldUser" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="FieldCostCenter" serializeAs="String">
                <value>CostCenter</value>
            </setting>
            <setting name="FieldLRFDeptApprovers" serializeAs="String">
                <value>DeptApprovers</value>
            </setting>
            <setting name="FieldLRFFinancialApprovers" serializeAs="String">
                <value>FinancialApprovers</value>
            </setting>
            <setting name="FieldLRFExecutiveApprovers" serializeAs="String">
                <value>ExecutiveApprovers</value>
            </setting>
            <setting name="QSRequestSummaryPage" serializeAs="String">
                <value>CustomID</value>
            </setting>
            <setting name="FieldLRFStatus" serializeAs="String">
                <value>LRFFileStatus</value>
            </setting>
            <setting name="ListTitleCostCenterSAP" serializeAs="String">
                <value>CostCenterSAP</value>
            </setting>
            <setting name="FieldCostCenterDescription" serializeAs="String">
                <value>description</value>
            </setting>
            <setting name="BDCEntityNamespace" serializeAs="String">
                <value>http://phxsp10wd-vn01:2000</value>
            </setting>
            <setting name="BDCEntityName" serializeAs="String">
                <value>CostCenterSAP</value>
            </setting>
            <setting name="BDCFinderView" serializeAs="String">
                <value>Read List</value>
            </setting>
            <setting name="ListTitleLRFIssuesLog" serializeAs="String">
                <value>LRF Issues Log</value>
            </setting>
            <setting name="FieldLRFIssueID" serializeAs="String">
                <value>LRFID</value>
            </setting>
            <setting name="FieldLRFIssueUrl" serializeAs="String">
                <value>LRFUrl</value>
            </setting>
           <setting name="GroupComplianceTeam" serializeAs="String">
            <value>Compliance Team</value>
           </setting>
           <setting name="GroupCostCenterSuperUserPrefix" serializeAs="String">
                <value>CostCenterSuperUser_</value>
            </setting>
            <setting name="GroupCostCenterUserPrefix" serializeAs="String">
                <value>CostCenterUser_</value>
            </setting>
            <setting name="GroupCostCenterProfilePrefix" serializeAs="String">
                <value>CostCenterProfile_</value>
            </setting>
            <setting name="GroupLRFSuperUsers" serializeAs="String">
                <value>LRF super users</value>
            </setting>
            <setting name="GroupLegalTeam" serializeAs="String">
                <value>Legal Team</value>
            </setting>
            <setting name="GroupLegalCenterOwner" serializeAs="String">
                <value>Legal Center Owners</value>
            </setting>
            <setting name="GroupFinanceTeam" serializeAs="String">
                <value>Finance Team</value>
            </setting>
            <setting name="FieldLRRequestor" serializeAs="String">
                <value>RequestorHidden</value>
            </setting>
            <setting name="FieldLRFIssueErrorDetails" serializeAs="String">
                <value>Error</value>
            </setting>
            <setting name="FieldUserType" serializeAs="String">
                <value>UserType</value>
            </setting>
            <setting name="FieldValueAnalyst" serializeAs="String">
                <value>Analyst</value>
            </setting>
            <setting name="FieldValueManagement" serializeAs="String">
                <value>Management</value>
            </setting>
            <setting name="FieldItemIssues" serializeAs="String">
                <value>FormIssues</value>
            </setting>
            <!--<setting name="ListTitleSavedLRFs" serializeAs="String">
                <value>Saved LRFs</value>
            </setting>-->
            <setting name="ListTitleAgreements" serializeAs="String">
                <value>Agreements</value>
            </setting>
            <setting name="FieldAssignedToLegal" serializeAs="String">
                <value>Assigned_x0020_To_x0020_Legal</value>
            </setting>
            <setting name="ListTitleLegalCostCenterAssignment" serializeAs="String">
                <value>Legal Cost Center Assignment</value>
            </setting>
            <setting name="FieldLegalCostCenterAssignmentGroup" serializeAs="String">
                <value>Group</value>
            </setting>
            <setting name="WorkFlowName" serializeAs="String">
                <value>Legal Request Form Workflow</value>
            </setting>
            <setting name="FieldLastDeptApprover" serializeAs="String">
                <value>Last_x0020_Dept_x0020_Approver</value>
            </setting>
            <setting name="FieldLastFinancialApprover" serializeAs="String">
                <value>Last_x0020_Financial_x0020_Approver</value>
            </setting>
            <setting name="GroupPurchasingTeam" serializeAs="String">
                <value>Purchasing Team</value>
            </setting>
            <setting name="FieldRequestStatus" serializeAs="String">
                <value>Request_x0020_Status</value>
            </setting>
            <setting name="ListTitlePurchasingRequests" serializeAs="String">
                <value>Purchasing Request Forms</value>
            </setting>
            <setting name="FieldAgreementLRFRequestor" serializeAs="String">
                <value>LRF_x0020_Requestor</value>
            </setting>
            <setting name="FieldAgreementContractNumber" serializeAs="String">
                <value>AgreementId</value>
            </setting>
            <setting name="FieldAgreementLRFTitle" serializeAs="String">
                <value>LRF_x0020_Title</value>
            </setting>
            <setting name="FieldAgreementSupplier" serializeAs="String">
                <value>SAP Supplier Number</value>
            </setting>
            <setting name="FieldAgreementEffectiveDate" serializeAs="String">
                <value>Effective_x0020_Date</value>
            </setting>
            <setting name="FieldAgreementExpirationDateRevised" serializeAs="String">
                <value>Expire_x0020_Date_x0020_Revised</value>
            </setting>
            <setting name="FieldAgreementNotToExceedValue" serializeAs="String">
                <value>Estimated_x0020_Value</value>
            </setting>
            <setting name="FieldAgreementActualValue" serializeAs="String">
                <value>Actual_x0020_Value</value>
            </setting>
            <setting name="FieldAgreementLRFID" serializeAs="String">
                <value>LRF Ref:ID</value>
            </setting>
            <setting name="FieldAgreementTransferToSRM" serializeAs="String">
                <value>TransferToSRM</value>
            </setting>
            <setting name="DefaultCurrency" serializeAs="String">
                <value>USD</value>
            </setting>
            <setting name="CTPurchasingInfo" serializeAs="String">
                <value>Purchasing Info</value>
            </setting>
            <setting name="FieldLRFLinkFilename" serializeAs="String">
                <value>LinkFilename</value>
            </setting>
            <setting name="FormTemplateUrlPurchasingInfo" serializeAs="String">
                <value>/FormServerTemplates/Purchasing%20Info.xsn</value>
            </setting>
            <setting name="FieldAgreementPurchasingFormGenerated" serializeAs="String">
                <value>PurchasingFromGenerated</value>
            </setting>
            <setting name="FieldLegalOwner" serializeAs="String">
                <value>Legal_x0020_Owner</value>
            </setting>
            <setting name="ListTitleRequestStatus" serializeAs="String">
                <value>Request Status</value>
            </setting>
            <setting name="FieldLegalRequestStatus" serializeAs="String">
                <value>Legal_x0020_Request_x0020_Status</value>
            </setting>
            <setting name="FieldApproved" serializeAs="String">
                <value>Approved_x003f_</value>
            </setting>
            <setting name="FieldAgreementLRFSubmitter" serializeAs="String">
                <value>LRF_x0020_Submitter</value>
            </setting>
            <setting name="FieldAgreementBusinessContact" serializeAs="String">
                <value>Agreement_x0020_Owner</value>
            </setting>
        </Elan.SharePoint.LRFApproval.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
