<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CostCenterServices.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CostCenterServices.Settings>
            <setting name="COSTCENTERPROFILEPREFIX" serializeAs="String">
                <value>CostCenterProfile_</value>
            </setting>
            <setting name="COSTCENTERUSERPREFIX" serializeAs="String">
                <value>CostCenterUser_</value>
            </setting>
            <setting name="COSTCENTERSUPERUSERPREFIX" serializeAs="String">
                <value>CostCenterSuperUser_</value>
            </setting>
            <setting name="COSTCENTERLENGTH" serializeAs="String">
                <value>5</value>
            </setting>
        </CostCenterServices.Settings>
    </applicationSettings>
</configuration>