<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Elan.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ElanCostCenterServices.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Elan.Settings>
            <setting name="ALLOWEDREQUESTORSLIST" serializeAs="String">
                <value>AllowedRequestorsForUser</value>
            </setting>
            <setting name="ALLOWEDREQUESTORLISTUSER" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="ALLOWEDREQUESTORLISTREQUESTOR" serializeAs="String">
                <value>Requestor</value>
            </setting>
            <setting name="COSTCENTERPREFIX" serializeAs="String">
                <value>CostCenter</value>
            </setting>
            <setting name="CMSPROFILEDEPTNUM" serializeAs="String">
                <value>DeptNum</value>
            </setting>
            <setting name="CMSPROFILECOSTCENTER" serializeAs="String">
                <value>CostCenter</value>
            </setting>
            <setting name="CMSFINANCEGROUP" serializeAs="String">
                <value>Finance Team</value>
            </setting>
            <setting name="CMSOWNERSGROUP" serializeAs="String">
                <value>Contract Management System Owners</value>
            </setting>
        </Elan.Settings>
        <ElanCostCenterServices.Settings>
            <setting name="COSTCENTERPROFILEPREFIX" serializeAs="String">
                <value>CostCenterProfile_</value>
            </setting>
            <setting name="COSTCENTERUSERPREFIX" serializeAs="String">
                <value>CostCenterUser_</value>
            </setting>
            <setting name="COSTCENTERSUPERUSERPREFIX" serializeAs="String">
                <value>CostCenterSuperUser_</value>
            </setting>
            <setting name="COSTCENTERLENGTH" serializeAs="String">
                <value>5</value>
            </setting>
        </ElanCostCenterServices.Settings>
    </applicationSettings>
</configuration>